<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
    <head>
        <title>Ajouter client</title>
    </head>
    <body>
        <div  layout:fragment="content" class="container my-5">
            <h2 class="mb-5">Nouveau Client  &nbsp;&nbsp;&nbsp;
            	<a th:href="@{/client/wizard}" class="btn btn-info"> Utiliser le  Wizard</a> 
            </h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/client/add}" th:object="${client}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="raisonSociale" class="col-form-label">Raison Sociale</label>
                                <input type="text" th:field="*{raisonSociale}" class="form-control" id="raisonSociale" >
                                <span th:if="${#fields.hasErrors('raisonSociale')}" th:errors="*{raisonSociale}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="contact" class="col-form-label">Contact</label>
                                <input type="text" th:field="*{contact}" class="form-control" id="contact" >
                                <span th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="tel" class="col-form-label">Telephone</label>
                                <input type="text" th:field="*{tel}" class="form-control" id="tel" >
                                <span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="mobile" class="col-form-label">Mobile</label>
                                <input type="text" th:field="*{mobile}" class="form-control" id="mobile" >
                                <span th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email" class="col-form-label">Email</label>
                                <input type="text" th:field="*{email}" class="form-control" id="email" >
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <button type="submit" class="btn btn-warning">Ajouter</button>
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>