<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Liste des Clients</title>
</head>
<body>
	<div layout:fragment="content">
		<div th:switch="${clients}" class="container my-5 mw-100">
			<div>
				<h2 th:case="null">Pas encore de client !</h2>
				<div th:case="*">
					<h2 class="my-6">Liste des clients</h2>
					<div>
						<a th:href="@{/client/new}" class="badge badge-warning">Ajouter
							un client</a>
					</div>
					<br />
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>Raison Sociale</th>
								<th>Contact</th>
								<th>T&eacute;l</th>
								<th>Mobile</th>
								<th>Email</th>
								<th>Actions</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="client : ${clients}">
								<td th:text="${client.raisonSociale}"></td>
								<td th:text="${client.contact}"></td>
								<td th:text="${client.tel}"></td>
								<td th:text="${client.mobile}"></td>
								<td th:text="${client.email}"></td>
								<td>
								<a th:href="@{/client/view/{id}(id=${client.id})}"
									class="badge badge-success">Consulter</a>
								&nbsp;<a th:href="@{/client/edit/{id}(id=${client.id})}"
									class="badge badge-info">Modifier</a>
								&nbsp;<a th:href="@{/client/delete/{id}(id=${client.id})}"
									class="badge badge-danger">Supprimer</a></td>
							</tr>
						</tbody>
					</table>
					<!-- clients pagination -->
					<nav aria-label="Pagination" th:if="${clients.totalPages gt 0}">
					    <ul class="pagination justify-content-center font-weight-bold">
					        <li class="page-item" th:classappend="${clients.number eq 0} ? 'disabled'">
					            <a class="page-link"
					               th:href="@{/clients?page={id}(id=${clients.number lt 2 ? 1 : clients.number})}"
					               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
					                <span aria-hidden="true">&laquo;</span>
					            </a>
					        </li>
					        <li class="page-item" th:classappend="${i eq clients.number + 1} ? 'active'"
					            th:each="i : ${#numbers.sequence( 1, clients.totalPages, 1)}">
					            <a class="page-link" th:href="@{/clients?page={id}(id=${i})}" th:text="${i}"
					               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
					        </li>
					        <li class="page-item" th:classappend="${clients.number + 1 eq clients.totalPages} ? 'disabled'">
					            <a class="page-link"
					               th:href="@{/clients?page={id}(id=${clients.number + 2})}"
					               aria-label="Next" title="Next Page" data-toggle="tooltip">
					                <span aria-hidden="true">&raquo;</span>
					            </a>
					        </li>
					    </ul>
					</nav>										
				</div>
			</div>
		</div>
	</div>
</body>
</html>