<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout2}">
	<head>
		<title>Wizard Clients</title>
	</head>
    <body>
        <div layout:fragment="content">
        <br/>
        <br/>
        <div id="retour"></div>
        <div id="retourclient"></div>
        <div id="retourconfig"></div>
        <div id="retourserveur"></div>
        <div id="retourdossier"></div>
        <div id="step"></div>
        <div id="stepindex"></div>
        <div id="clientId"></div>
        <br/>
	        <div id="new-client-wizard">
					<h6>Client</h6>
					<section>
						<p id="etape1" name="etape1"></p>
					</section>
					<h6>Configuration</h6>
					<section>
						<p id="etape2" name="etape2"></p>
					</section>
					<h6>Serveurs</h6>
					<section>
						<p id="etape3" name="etape3"></p>
					</section>
					<h6>Dossier</h6>
					<section>
						<p id="etape4" name="etape4"></p>
					</section>
	        </div>
			<script>
				$(document).ready(function() {
					
					//var testy = $("#retour").val();
					
					//$("#tt1").load("vertical.html");
					$("#step").val('client');
					//$("#clientId").val('2');
					
					$("#new-client-wizard").steps({
						headerTag: "h6",
						bodyTag: "section",
						transitionEffect: "slide",
					
					    onStepChanging: function (event, currentIndex, newIndex)
					    {
					    	///alert("currentIndex = " + currentIndex + "\n" + "newIndex = " + newIndex);
					    	
					    	//if ($("#retour").val()=='KO') return false;
  					    	
					    	//
					    	
					    		
							//$("#insertclient").click();
					    	if(newIndex > currentIndex && currentIndex == 1 && $("#retourconfig").val()  != "OK" ) {return false;}
					    	else if(newIndex > currentIndex && currentIndex == 2 && $("#retourserveur").val() != "OK" ) {return false;}
					    	else if(newIndex > currentIndex && currentIndex == 3 && $("#retourdossier").val() != "OK" ) {return false;}
							
							//alert("stepindex : " + $("#stepindex").val());
					    	// on avance si c'est ok, sinon on peut uniquement revenir en arrière
				    		else if ($("#retour").val()=="OK" || newIndex < currentIndex || newIndex <= $("#stepindex").val()) {
								//alert("clientId : " + $("#clientId").val());
				    			return true;
				    		}
				    		else {
				    			return false;
				    		}					    	
					    	
/* 							setTimeout(function(){
					    		alert("retour : " + $("#retour").val());

							}, 6000); */
					    	//return true;
					    	
					    },						
				
						onStepChanged: function (event, currentIndex, priorIndex)
						{
							if(currentIndex==0) {
								$("#step").val('client');
							}
							///alert("currentIndex = " + currentIndex + "\n" + "newIndex = " + newIndex);	
							if(currentIndex==1) {
								$("#step").val('config');
								proceedConfig();
								
/* 								$.ajax({
									type: 'GET',
									url: '/springbootapp/client/wizard/newconfig/'+$("#clientId").val(),
									//url: '/springbootapp/client/wizard/newconfig/2',
									timeout: 3000,
									success: function(data) {
									  $('#etape2').html(data);
									  //isError = true;
									  },
									error: function() {
									  alert('La requête n\'a pas abouti'); }
								});	 */								
							}

							else if(currentIndex==2) {
								$("#step").val('serveur');
								$.ajax({
									type: 'GET',
									url: '/springbootapp/client/wizard/newserveur',
									timeout: 3000,
									success: function(data) {
									  $('#etape3').html(data);
									  },
									error: function() {
									  alert('La requête n\'a pas abouti'); }
								});  
							}

							else if(currentIndex==3) {
								$("#step").val('dossier');
								$.ajax({
									type: 'GET',
									url: '/springbootapp/client/wizard/newdossier',
									timeout: 3000,
									success: function(data) {
									  $('#etape4').html(data);
									  },
									error: function() {
									  alert('La requête n\'a pas abouti'); }
								}); 
							} 
							
							else {
								
							}
							
							//alert("step : " + $("#step").val());
					    },						
					});	
					
					$.ajax({
						type: 'GET',
						url: '/springbootapp/client/wizard/newclient',
						timeout: 3000,
						success: function(data) {
						  $('#etape1').html(data);
						  //isError = true;
						  },
						error: function() {
						  alert('La requête n\'a pas abouti'); }
					});	
					
					//alert("stepindex >> " + $("#stepindex").val());
					
					//if($("#stepindex").val() == 1) {
					
					//}
					
  					
					
				});	
				
				function proceedConfig() {
					//alert("proceedConfig >> " + $("#clientId").val() );
					$.ajax({
						type: 'GET',
						url: '/springbootapp/client/wizard/newconfig/'+$("#clientId").val(),
						//url: '/springbootapp/client/wizard/newconfig/2',
						timeout: 3000,
						success: function(data) {
						  $('#etape2').html(data);
						  //isError = true;
						  },
						error: function() {
						  alert('La requête n\'a pas abouti'); }
					});	
				}
			</script>
        </div>
	</body>
</html>