<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
    <head>
        <title>Modifier config</title>
    </head>
    <body>
        <div  layout:fragment="content" class="container my-5">
            <h2 class="mb-5">Modification Configuration</h2>
            <div class="row">
                <div class="col-md-6">
                    <form action="#" th:action="@{/config/update/{id}(id=${config.id})}" th:object="${config}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="teamviewerId" class="col-form-label">TeamViewer ID</label>
                                <input type="text" th:field="*{teamviewerId}" class="form-control" id="teamviewerId" >
                            </div>
                            <div class="form-group col-md-6">
                                <label for="teamviewerPassword" class="col-form-label">TeamViewer Mot de passe</label>
                                <input type="text" th:field="*{teamviewerPassword}" class="form-control" id="teamviewerPassword" >
                            </div>
						<div class="form-group col-md-6">
							<label for="vpnType" class="col-form-label">Type VPN</label> 
<!-- 							<input
								type="text" th:field="*{vpnType}" class="form-control"
								id="vpnType" >  -->
							<select th:field="*{vpnType}"  class="form-control">
								<option selected th:value="''">Selectionnez un client VPN ...</option>
								<option th:value="'Cisco Anyconnect'" 	th:text="'Cisco Anyconnect'"></option>
								<option th:value="'Stormshield VPN'" 	th:text="'Stormshield VPN'"></option>
								<option th:value="'Sophos VPN'" 		th:text="'Sophos VPN'"></option>
								<option th:value="'ECM Network'" 		th:text="'ECM Network'"></option>																
							</select>
						</div>
						<div class="form-group col-md-6">
                                <label for="vpnIp" class="col-form-label">IP VPN</label>
                                <input type="text" th:field="*{vpnIp}" class="form-control" id="vpnIp" >
                            </div>
                            <div class="form-group col-md-6">
                                <label for="vpnLogin" class="col-form-label">Login VPN</label>
                                <input type="text" th:field="*{vpnLogin}" class="form-control" id="vpnLogin" >
                            </div>
                            <div class="form-group col-md-6">
                                <label for="vpnPassword" class="col-form-label">Mot de passe VPN</label>
                                <input type="text" th:field="*{vpnPassword}" class="form-control" id="vpnPassword" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <button type="submit" class="btn btn-warning">Modifier</button>
                            </div>
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>